.Todo-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #282c34;
    position: absolute;
    top: 10vh;
    color: white;

}
.grid-half{
    height: 100%;
    width: 100%;
    border-right: 2px solid #fff;
    display: flex;
    justify-content: center;
}
.items-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2vh;
}